/* Task 1: Hover Highlight Card */
.hover-highlight-card {
    padding: 20px;
    transition-duration: 0.5s;
}

.hover-highlight-card:hover {
    background-color: rgb(233, 233, 233);
    box-shadow: 10px 5px 5px gray;
    transition-duration: 0.5s;
}

/* Task 2: Animated Navigation Menu */
.animated-nav-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.animated-nav-menu a {
    text-decoration: none;
    border-radius: 10%;
    padding: 4px;
    color: #00aaff;
    background-color: white;
    transition-duration: 0.5s;
}

.animated-nav-menu a:hover {
    background-color: #00aaff;
    color: white;
    transition-property: background-color;
    transition-duration: 0.5s;
}
/* Task 3: Button Press Animation */
.button-press-animation button {
    padding: 10px 20px;
    border: none;
    background-color: #00aaff;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.button-press-animation button:active {
    transform: scale(0.85);
    transition: 0.5s;
}

/* Task 4: Simple Loading Spinner */
.simple-loading-spinner .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.simple-loading-spinner .spinner {
    animation: simple-loading-spinner 2s infinite linear;
}

@keyframes simple-loading-spinner {
    from {
        transform: rotate(-360deg);
    }
}

/* Task 5: Fading Gallery */
.fading-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fading-gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.on-hover {
    border: 1px solid black;
    padding: 4px;
}

.on-hover:hover {
    background-color: pink;
    padding: 2px;
}

.on-hover:active{
    color: red;
}

.rainbow {
    color: red;
    font-size: 2em;
    font-weight: bold;
    animation-name: rainbow;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation: rainbow 1s infinite linear;
}

@keyframes rainbow {
    from {
        color: red;
    }
    to {
        color: blue;
    }
}