span.sort {
    font-style: oblique;
}

.nav-bar ul {
    display: flex;
    font-family: 'courier', monospace;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 20px 20px;
    overflow: hidden;
    background-color: #244855;
}


.nav-bar a {
    padding: 20px 16px;
    color: #EBE9E1;
    text-align: center;
    text-decoration: none;
    transition-duration: 1s;
}

.nav-bar a:hover {
    padding: 20px 16px;
    background-color: #0b2f3b;
    transition-duration: 1s;
}

.by-genre h2 {
    font-family: monospace;

}

.by-artist h2 {
    font-family: monospace;
}

.by-genre a {
    font-family: 'courier', monospace;
    color: black;
    text-decoration: none;
    transition-duration: 0.5s;
}

.by-genre a:hover {
    background-color: #90AEAD;
    font-size: 105%;
    transition-duration: 0.5s;
}

.by-artist a {
    font-family: 'courier', monospace;
    text-decoration: none;
    transition-duration: 0.5s;
    font-weight: bold;
}

.by-artist a:hover {
    background-color: #e64833a3;
    font-size: 105%;
    transition-duration: 0.5s;
    font-weight :bold;
}

h3 {
    font-family: monospace;
}

li > a {
    color: black;
}

h1 {
    font-family: monospace;
}

p {
    font-family: 'courier', monospace;
}

img {
    border: 3px dotted #90AEAD;
    transition-duration: 1s;
}

img:hover {
    box-shadow: 10px 5px 5px #1a353f;
    transform: translate(5px, 5px);
    transition-duration: 1s;
}

li {
    font-family: 'courier', monospace;
}

#personalfavs {
    text-shadow: #AC3B61 1px 0 10px;
    color: #AC3B61;
    font-family: monospace;
    animation-fill-mode: both;
    animation: personalfavs 5s infinite linear;
}

@keyframes personalfavs {
    0% {
        color: #AC3B61
    }
    25% {
        color: #EDC7B7;
    }
    50% {
        color: #EEE2DC;
    }
    75% {
        color: #BAB2B5;
    }
    100% {
        color: #123C69;
    }
}

#music {
    font-size: 300%;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    color: #AC3B61;
    text-shadow: #d66fb4 1px 0 20px;
    animation-fill-mode: both;
    animation: music 5s infinite linear;
}

@keyframes music {
    0% {
        color: #5D001E
    }
    25% {
        color: #E3E2DF;
    }
    50% {
        color: #E3AFBC;
    }
    75% {
        color: #9A1750;
    }
    100% {
        color: #EE4C7C;
    }
}

#songofday {
    display: flex;
    justify-content: center;
    font-family: 'courier', monospace;
    background-color: #BAB2B5;
    box-shadow: 10px 5px 5px #AC3B61;
}